
<table class="tx-test-extension" >
	<tr>
		<td>
			<f:translate key="tx_testextension_domain_model_main.name" />
		</td>
		<td>
		{main.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_testextension_domain_model_main.identifier" />
		</td>
		<td>
		{main.identifier}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_testextension_domain_model_main.description" />
		</td>
		<td>
		{main.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_testextension_domain_model_main.my_date" />
		</td>
		<td>
		{main.myDate -> f:format.date()}
		</td>
	</tr>
</table>