
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for Main</h1>

<f:flashMessages />

<table  class="tx_testextension" >
	<tr>
		<th><f:translate key="tx_testextension_domain_model_main.name" /></th>
		<th><f:translate key="tx_testextension_domain_model_main.identifier" /></th>
		<th><f:translate key="tx_testextension_domain_model_main.description" /></th>
		<th><f:translate key="tx_testextension_domain_model_main.my_date" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{mains}" as="main">
		<tr>
			<td><f:link.action action="show" arguments="{main : main}"> {main.name}</f:link.action></td>
			<td><f:link.action action="show" arguments="{main : main}"> {main.identifier}</f:link.action></td>
			<td><f:link.action action="show" arguments="{main : main}"> {main.description}</f:link.action></td>
			<td><f:link.action action="show" arguments="{main : main}"> {main.myDate -> f:format.date()}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{main : main}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{main : main}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Main</f:link.action>
</f:section>